<div id="about-container" class="expand-height">
	<div class="well"><!-- Give top separation --></div> 
	<div class="container expand-height ">
		<div class="jumbotron">
			<h1><span class="">David Wolgemuth</span></h1>
			<hr class="rust">
			<p>Full Stack Developer + Game Maker <a href="https://vn.linkedin.com/in/david-wolgemuth-0652b0102
"><img src="images/logo-linkedin.png" alt="LinkedIn" height="30" width="30"></a> <a href="https://github.com/David-Wolgemuth"><img src="images/logo-github.png" alt="GitHub" height="30" width="30"></a></p>
			<img src="images/profile.png" alt="Profile" width="300" height="200">
		</div>
	</div>
</div>