<div id="portfolio-container" class="container-fluid expand-height">
	<div class="row expand-height">	
		<div id="left-column" role="navigation" class="col-lg-4 expand-height">
			<div class="well">
				<h1 class="light-text">Portfolio</h1>
				<hr class="rust">
			</div>
			<ul id="gif-list" class="nav ch-grid">
				
			</ul>
		</div>
		<div id="right-column" class="col-lg-8 row expand-height">
			<div id="image-carousel" class="carousel slide" data-ride="carousel" data-interval="9000">
				<ol id="indicators" class="carousel-indicators">
					
				</ol>
				<div id="carousel-wrapper" class="carousel-inner" role="listbox">
					
				</div>
				<a class="carousel-control left" href="#image-carousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#image-carousel" data-slide="next">&rsaquo;</a>

			</div>
			<hr class="hidden-xs hidden-sm">
			<div id="descriptions">
				<div class="well hidden-xs hidden-sm">
					<h1></h1> <!-- Title -->
					<h4></h4> <!-- Technologies Used -->
					<hr class="rust">
					<p></p> <!-- About -->
					<h6></h6> <!-- Repository -->
				</div>
				<div class="small-description visible-xs visible-sm">
					<h1></h1> <!-- Title -->
					<h4></h4> <!-- Technologies Used -->
					<p></p> <!-- About -->
					<h6></h6> <!-- Repository -->
				</div>
			</div>
		</div>
	</div>
</div>
