.gist-picker {
  .gist-picker-button {
    padding: 6px 12px;
    background: none;
    border: none;
    &.active {
      border-bottom: 2px solid $brand-color;
    }
  }
  .gist-picker-element {

  }
}

*:focus {
  border-bottom: 2px solid $brand-color !important;
  outline: none;
}

pre.highlight, code, .highlighter-rouge .highlight {
  background: #F7F7F5;
}

#tag_list {
  padding: 0;
  margin: 0;
  li {
    margin-right: 6px;
    display: inline-block;
    border: 1px solid $brand-color;
    border-radius: 12px;
    a {
      display: block;
      height: 100%;
      padding: 4px 12px;
      color: $grey-color-dark;
    }
  }
}

figure {
  display: block;
  text-align: center;
  margin: 2em auto;
  max-width: 350px;
  
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  figcaption {
    font-style: italic;
    color: $grey-color;
    font-size: 0.9em;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    background-color: #f8f8f8;
    border-left: 3px solid $brand-color;
    border-radius: 0 4px 4px 0;
    text-align: left;
  }
}