
.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before {
  content: '';
    display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 240px;
  height: 240px;
  display: inline-block;
  margin: 12px;
}

.ch-item {
  width: 100%;
  height: 100%;
  /*border-radius: 50%;*/
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /*transition: all 0.3s ease-in-out;*/
}

.ch-item.selected {
  border: 2px solid white;
}

.ch-item:not(.selected) {
  box-shadow: 
    inset 0 0 0 120px rgba(0,0,0,0.6);
}

.ch-info {
  position: absolute;
  background: rgba(0,10,10, 0.7);
  width: inherit;
  height: inherit;
  /*border-radius: 50%;*/
  overflow: hidden;
  opacity: 0;
  /*transition: all 0.3s ease-in-out;*/
  transform: scale(0);
}

.ch-info h3 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 28px;
  margin: 0 32px;
  padding: 45px 0 0 0;
  height: 140px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 18px;
  border-top: 1px solid rgba(255,255,255,0.5);
  opacity: 0;
  /*transition: all 0.3s ease-in-out 0.3s;*/
}

.ch-info p a {
  display: block;
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
  color: rgba(255,242,34, 0.8);
}

/*.ch-item:hover {
  box-shadow: 
    inset 0 0 0 1px rgba(255,255,255,0.1),
    0 1px 2px rgba(0,0,0,0.1);
}
*/
.ch-item:hover .ch-info {
  transform: scale(1);
  opacity: 1;
}

.ch-item:hover .ch-info p {
  opacity: 1;
}