
#main-container {
	margin-top: 40px;
}
hr.blue {
	border-top: 1px solid rgb(73, 123, 159);
}
.project {
	margin: 24px 0;
}
a,
.navbar .navbar-brand:hover, 
.navbar .navbar-brand:focus {
	color: rgb(73, 123, 159);
}
a:hover {
	color: #999999;
}